"*":
  "atom-beautify":
    general:
      _analyticsUserId: "c83e8920-51b2-492f-a2d3-2ddc6ca0b18a"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    softWrap: true
  "exception-reporting":
    userId: "f813dd06-e0d3-8978-1f6a-a15e130889d5"
  "linter-ui-default":
    showPanel: true
  "prettier-atom":
    useEslint: true
  react: {}
  welcome:
    showOnStartup: false
