# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.text.html':
    'HTML5 Skeleton':
      'prefix': 'htmlify'
      'body': '
<!DOCTYPE html>\n
<html lang="en">\n
\t<head>\n
\t\t<meta charset="utf-8">\n
\t\t<meta http-equiv="X-UA-Compatible" content="IE=edge">\n
\t\t<title></title>\n
\t\t<meta name="description" content=" " />\n
\t\t<meta name="author" content=" " />\n
\t\t<meta name="viewport" content="width=device-width, initial-scale=1.0" />\n
\t\t<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->\n
\t\t<link rel="stylesheet" type="text/css" href=" ">\n
\t</head>\n
\t<body>\n
\t\t<h1>Hello empty page!</h1>\n
\t\t<p>Go ahead and add things!</p>\n
\t<script type="text/javascript" src=" "></script>\n
\t</body>\n
</html>'
